*{
	margin:0;
	padding: 0;
}
body{
	font-family: 'Oswald', sans-serif;
}
h2{
	margin-bottom: 50px;
	font-size: 20px;
	border: 1px solid #6f6f6f;
	padding: 7px 20px;
	color: #000000ad;
}
.func{
	background:red !important;
}
.calculator{

width: 400px;

display: flex;

flex-wrap: wrap;

justify-content: center;

margin: auto;

box-sizing: border-box;

top: 50%;

left: 50%;

transform: translate(-50%, -50%);

position: absolute;

padding: 50px;

background: #fffffff0;

overflow: hidden;

box-shadow: 0px 0px 15px 7px #8e7f7f63;

row-gap: 5px;

column-gap: 5px;
}
input {
    width: 100%;
    /* flex: 0 0 auto; */
    padding: 10px 10px;
    margin-bottom: 23px;
    font-size: 20px;
    font-weight: 800;
    background: white;
    color: black;
    border: 1px solid #6f6f6f36;
    border-radius: 20px;
    /* border-top: 5px solid; */
    box-shadow: 0px 5px 6px #6f6f6f, -20px -20px 60px #ffffff;
}
button{

width: 23.33%;

padding: 10px;

outline: none;

font-size: 20px;

font-weight: 700;

cursor: pointer;

background: white;

border-radius: 20px;

box-shadow: -3px 3px 4px #8A8A88;

border: navajowhite;

border: 1px solid #8a8a8a;
}
#on{

}
#off{

}
